apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: image-storage
          persistentVolumeClaim:
            claimName: todo-app-claim
      containers:
      - name: todo-app
        image: todo-app
        imagePullPolicy: IfNotPresent
        volumeMounts:
          - name: image-storage
            mountPath: /app/images
        env:
          - name: PORT
            value: "8080"
          - name: ALLOWED_IMAGE_AGE
            value: "600"
          - name: BACKEND_URL
            value: "http://todo-backend-svc:8080/todos"
