apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: shared-files
          persistentVolumeClaim:
            claimName: log-claim
      containers:
      - name: ping-pong
        image: ping-pong
        imagePullPolicy: IfNotPresent
        env:
          - name: PORT
            value: "3000"
        volumeMounts:
          - name: shared-files
            mountPath: /app/files
