apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "2"
  creationTimestamp: "2025-12-25T19:31:11Z"
  generation: 2
  labels:
    app: log-output
  name: log-output
  namespace: default
  resourceVersion: "7233"
  uid: 8b611029-6953-4271-818f-7ace21a44e15
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: log-output
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
      - image: log-output
        imagePullPolicy: IfNotPresent
        name: log-output
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2025-12-25T19:31:48Z"
    lastUpdateTime: "2025-12-25T19:31:48Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-12-25T19:31:11Z"
    lastUpdateTime: "2025-12-25T19:31:48Z"
    message: ReplicaSet "log-output-55bcf45bdb" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 2
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
